[Unit]
Description=Pyramidion receiver service
After=network.target

[Service]
ExecStart=/home/pi/30bpm.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target

