[Unit]
Description=Pyramidion GPIO handling service
After=network.target

[Service]
ExecStart=/home/pi/pyramidion-gpio.sh
WorkingDirectory=/home/pi
# Mode trace
#StandardOutput=syslog
#StandardError=syslog
StandardOutput=null
StandardError=null
Restart=always
User=root

[Install]
WantedBy=multi-user.target

